
.content {
    width: 600px;
    margin: 50px auto;
    background-color: white;
    
  }
  .main-buttons {
    margin: 0 5px;
  }
  .main-buttons button {
    margin: 0 auto;
    
  }
  .main {
    text-align: center;
    color: #000;
    background-color: #fff;
    width: 50%;
    margin: 0 auto;
    font-family: Monospace, Verdana, sans-serif;
  }
  .space {
    width: 600px;
    margin: 50px auto;
    padding: 10px;
  }